@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,500&display=swap');


* { box-sizing: border-box; }

:root {
    /* Variáveis para a 
    paleta de cores do site */
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

html { font-size: 16px; }


body {
    color: var(--cor-texto);
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--cor-clara);
}


/* CSS Reset em alguns elementos */
body, h1, h2, p, figure, .menu {
    margin: 0;
    padding: 0;
}

img { max-width: 100%; }

h1 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
}

 .logo{
    padding: 1.3rem 1rem;
    width: 380px;
    margin-left: -80px;
    
    
}

a { text-decoration: none; }



header .limitador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18vh;

}


header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--cor-clara);
}


/* Formatação da palavra Menu */
nav h2 a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}

nav h2 a:hover, nav h2 a:focus, 
.menu a:hover, .menu a:focus {
    background-color: var(--cor-intermediaria);
}

/* Regra da lista ul de links */
.menu { 
    list-style: none; 

    /* ATENÇÃO!
    Usamos display:none para
    não exibir inicialmente
    a lista de links. */
    display: none;
}

/* Regra para formatar os
links contidos na lista/menu */
.menu a {
    color: var(--cor-escura);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 
}



/* Seletor de classes combinadas
Esta regra somente irá funcionar quando
AS DUAS CLASSES estiverem aplicadas JUNTAS no
elemento HTML (no caso, na lista de menu/links). 

Obs.: esta combinação será possível por meio
da manipulação programada com JavaScript. */
.menu.aberto {

    /* O Flex fará a lista de links aparecer */
    display: flex;

    /* Com os links em forma de coluna (vertical) */
    flex-direction: column;
    
    /* Usamos as propriedades de posicionamento
    e coordenadas para garantir o encaixe correto
    (abaixo do título e da palavra Menu). */
    position: absolute;
    left: 0;
    right: 0;
    
    /* Aplicamos um fundo à lista evitando a
    dificuldade de leitura dos links */
    background-color: var(--cor-clara);
}


/*  regra CSS para formatar o h2 e o p
contidos em Destaque. */

.destaque {
    height: 80vh;
    background-image: url(../imagens/destaquehome.jpg);
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    
}



.destaque h2, .destaque p { 
    color:var(--cor-escura);
   
}

.destaque h2 {
    font-size: 40px;
    position: relative;
    right: 290px;

}
.orange {
    color: orange;
}

.destaque p {
    font-size: 24px;
    position: relative;
    right: 300px;
    
}


.botoes
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.botao1 p {

    background-color:orange;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    

}
.botao2 p {
    background-color: green;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 16px;
    
    
}

/* criando estilo para pagina home: serviços que ofereço */


.caixa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
}


.pqconsultar {
    width: 150%;
    margin-top: 40px;   
}

.pqconsultar h2 {
    font-size: 30px;
}
.pqconsultar p {
    font-size: 18px;
    margin: 20px;
    margin-bottom: 40px;
    text-align: left;
}

.fotoeli {
    margin-top: 30px;
    width: 120%;
    height: 80vh; 
}

.fotoeli img {
    border-radius: 30px;
    height: 75vh;
    margin: 20px;
    
    
}
.offerservicos {
    
    width: 100%;
    align-items: center;
    margin-left: 100px;
}
.offerservicos figure, p {
    text-align: center;
    align-items: center;
}

.offerservicos img {
    width: 70px;
    margin-left: 20px;
    background-color: rgba(255, 166, 0, 0.733);
    padding: 10px;
    border-radius: 25px;
    
}

.offerservicos h2 {
    font-size: 20px;
    margin-left: 50px;
    text-align: center;
    margin-top: 50px;
}
.limitador2 {
    width: 80%;
    margin: auto;
}

.limitador {
    width: 95vw;
    margin: auto;
}

/* criando estilo para DICAS no HOME */

.dicas {
    background-color: #ececec;
    background-attachment: fixed;
}


.dicasnutri h2 {
    color: green;
    text-shadow:rgba(0, 128, 0, 0.534) 2px 2px 4px;
    text-align: center;
}

.dicas {
    display: flex;
}
.dicas p {
    font-size: 16px;
    margin-top: -55px;
}
.dicas img {        
    width:150px;
    border-color: white;
    border-style:solid;
    margin:50px;
    align-items: center;
    text-align: center;

}
.dicas  .ervas{
    margin-left: 5px;
   
}



/* estilo para localização e footer */

footer {
    background-color: var(--cor-clara);
    color: black;
    height: 30vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.localizacao {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
  
}

address {  
  font-size: 14px;

}
.medias-social {
    margin-left: 50px;
}
.medias-social a {
    align-items:center;
    justify-content:center;
    margin: 10px;
    color: black;
    background-color: rgba(255, 166, 0, 0.733);
    padding: 10px;
    border-radius: 100px;
    
}
.medias-social a i {
    font-size: 24px;
    text-align: center;
    margin: auto;
}


/* Exercícios: regras condicionais (Media Queries) */

/* 1) Crie uma regra condicional para telas a partir
de 570px com as seguintes alterações:

- Esconder a palavra Menu
- Habilitar o flex para a classe "menu"
- Definir largura de 100% para os itens dentro do "menu"
- Definir largura de 70% para o nav
- Reduzir para 150px a altura da imagem contida no artigo Front-End */
@media screen and (min-width: 570px) {
    nav h2 { display: none; }
    .menu { display: flex; }
    .menu li { width: 100%; }
    nav { width: 70%; }
    .front-end img { height: 150px; }
}

/* 2) Crie uma regra condicional para telas a partir de 900px
com  as seguintes alterações:

- Aumentar o tamanho geral de todos os textos para 18px 
- Definir o tamanho máximo da classe limitador para 1000px; */
@media screen and (min-width: 900px){
    .limitador { max-width: 900px; }
    html { font-size: 18px; }
}









