@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    /* Variavéis para a paleta de cores do site */
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-preto: #000;
    --cor-branco: #fff;
    --cor-gelo: #ececec;
}

html {
    font-size: 16px;
}

body {
    color: var(--cor-texto);
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--cor-branco);
}

/* CSS Reset em alguns elementos */
body,
h1,
h2,
p,
figure,
.menu {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
}


/* usando a letra (a) pois é um seletor decedente onde eu quero pegar o link que esta dentro do h1 */
h1 a {
    color: var(--cor-branco);
    background-color: var(--cor-preto);
    padding: 0.3rem 1rem;
    border: 4px;
}

a {
    text-decoration: none;
}

header .limitador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;

}

header {
    position: sticky;
    top: 0;
    /* z-index garante que o header fique para frente do conteudo */
    z-index: 100;
    background-color: var(--cor-branco);

}

.menu {
    list-style: none;
}

/* Formatação da palavra Menu */
nav h2 a {
    color: var(--cor-preto);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;

}

nav h2 a:hover,
nav h2 a:focus,
.menu a:hover,
.menu a:focus {
    background-color: var(--cor-gelo);
}


/* Regra da lista ul de links */
.menu {
    list-style: none;
    /* usamos (display none) para nao exibir a lista de links */
    display: none;
}



/* Regras para formartar os links contidos n alista menu */
.menu a {
    color: var(--cor-texto);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

/* Seletor de classes combinadas 
  Essa regra so ira funcionar quando AS DUAS CLASSES estiverem aplicadas JUNTAS  no elemento HTML ( no caso, na lista de menu/links) 
  
  OBS: esta combinação será possível por meio da manipulação programada com javascript. */

.menu.aberto {
    /* O Flex fará a lista de links aparecer  */
    display: flex;

    /* Com os links em forma de coluna (vertical) */
    flex-direction: column;

    /* Usamos as propriedades de posicionamento e coordenadas para garantir o encaixe correto (abaixo do titulo e da palavra Menu). */
    position: absolute;
    left: 0;
    right: 0;

    /* usamos o background para ter uma cor visivel */
    background-color: var(--cor-gelo);

}

.destaque {
    height: 90vh;
    background-image: url(../imagens/fundo-destaque.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}


.destaque h2 {
    /* Função clamp 
    (tamanho mininimo 
    tamanho maximo
    tamanho ideal 
    tamanho maximo) */

    font-size: clamp(3rem, 10vw, 7rem);
}

.destaque p {
    font-size: clamp(1.5rem, 3vw, 3rem);
}

.destaque h2,
.destaque p {
    /* indicando onde eu quero a animação colocando no p destaques */
    animation-name: animaDestaque;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    color: var(--cor-branco);
}

/* Regras de animação */

@keyframes animaDestaque {
    from {
        opacity: 0;
        transform: translateY(-500px);


    }

    to {
        opacity: 1;

    }
}



article h2 {
    padding: 1rem;
    font-size: 2rem;
    font-family: Raleway, sans-serif;
    color: var(--cor-titulo);
}

.front-end,
.historia,
.localizacao {
    text-align: center;

}


article p {
    padding: 0.5rem 0;
    font-size: 1.3rem;

}


abbr {
    text-decoration: underline solid;
}

address {
    font-style: normal;
}


.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    height: 500px;
}

.historia h2 {
    color: var(--cor-branco);
    text-shadow: rgb(156, 44, 4) 4px 5px 0px;

}

.historia iframe {
    width: 100%;
    margin-top: 2rem;
    max-width: 700px;
}

.localizacao frame {
    width: 100vw;
    margin-top: 2rem;

}


footer {
    background-color: #000;
    color: var(--cor-branco);
    height: 20vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.limitador {
    width: 95vw;
    margin: auto;

}



/* Regras para as paginas Produtos , Serviços e Contato. */

.conteudo {
    background-color: var(--cor-gelo);
    padding: 0.5rem;
    border-radius: 8px;
}

.conteudo h2 {
    padding-left: 0;
    font-size: 1.8rem;
    border-bottom: solid 1px;
    margin-bottom: 1rem;
}

table {
    width: 80%;
    margin: auto;
    border: solid 1px;
}


table,
th,
td {
    border: solid 1px;
    /* border collapse remove o espaço entre as bordas */
    border-collapse: collapse;
}

caption {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    background: rgb(238, 114, 114);
    color: var(--cor-branco);
    padding: 4px;
}


th {
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    border-color: var(--cor-texto);
    padding: 0.7rem;

}

td {
    padding: 0.5rem;
}

td:nth-child(2) {
    text-align: center;
}

th:last-child,
td:last-child {
    text-align: right;
}

tr:nth-child(odd) {
    background-color: var(--cor-branco);
}

/* Pseudo-elemento ::before */

td:last-child::before {
    content: "R$";
    position: absolute;
    left: 10px;
}

td:last-child {
    position: relative;
}



.conteudo h2::before {
    content: " ⚙ ";
}


/* Regras para produtos */



.galeria {
    text-align: center;
}

.galeria img {
    border-radius: 100%;
    transform: scale(0.9);
    transition: 0.4s;
    filter:brightness(80%);
}

/* Aplicamos o :hover e o :focus ao seletor de tag "a" em vez de aplicar no "img". Desta forma o acionamneto funcionará tanto com o mouse quanto com o teclado. */


.galeria a:hover img, .galeria a:focus img {
    transform: scale(1);
    border-radius: 10%;
    filter: none;
}









@media screen and (min-width: 570px) {

    header h2 {
        display: none;
    }

    .menu {
        display: flex;

    }

    .menu li {
        width: 100%;
    }

    header nav {
        width: 70%;
    }

    .front-end img {
        height: 150px;
    }
}


@media screen and (min-width: 900px) {


    html {
        font-size: 20px;
    }


    .limitador {
        max-width: 1000px;
    }
}